.nav{
	width: 200px;
	height: 200px;
	background: black;
	position: absolute;
	left:-100px; 
}
.nav-btn{
	width: 20px;
	height: 20px;
	background: black;
	position: absolute;
	top:150px;
	left: 10px;

}

.nav{
	transition: all 0.5s ease;
}

/*.spr{
	margin-top: -15px;
	margin-right: 950px;
	float: right;
	width: 250px;
	height: 120px;
	background: #E9E8E8;
}*/
.spr {
	background-color: #323c8d;/* #9db1cc  323c8d  c5d0e6*/
	width: 1000px;
	height: 45px;
	 display: block;
	position: absolute;
  z-index: 10000;
  margin-top:30px;
	}
			
.spr ul {
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
}
.spr ul ul {
	display: none;
	position: absolute;
	top: 100%;
	}	
/* отображаем выпадающий список при наведении */
.spr ul li:hover > ul {
	display:inherit;
}		
/* первый уровень выпадающего списка */
.spr ul ul li {
	min-width:140px;
	min-height:-10px;
	float:none;
	display:list-item;
	position: relative;
	width:50px;
}
.spr ul ul ul {
	position: absolute;
	left:100%;
}
/* применяем inline-block позиционирование к элементам навигации */
.spr ul li {
	margin: 0px -7px 0 0;
	display:inline-block;
	background-color: #323c8d;
}			
			/* стилизуем ссылки */
.spr a {
	display:block;
	padding:0 10px;
	color:#FFF;
	font-size:20px;
	line-height: 45px;
	text-decoration:none;
	font-size: 18px; 
}			
			/* изменяем цвет фона при наведении курсора */
.spr a:hover {
	background-color: #b0c4de;
	font-size: 18px;
}
a. { font-size: 14px; }
