@page "/"
@using Reports.Components.Filters

@*<select class="custom-select" @bind="FilterChanged" title="Filters">
    <option value="Select" selected disabled="disabled">(Выберете фильтр)</option>
    @foreach (var filter in Filters)
    {
        <option value="@filter">@filter</option>
    }
</select>

@if (FilterChanged == Filters.ElementAt(0))
{
    <AuthorFilter />
}
else if (FilterChanged == Filters.ElementAt(1))
{
    <YearFilter />
}
else if (FilterChanged == Filters.ElementAt(2))
{
    <DoiFilter />
}
else if (FilterChanged == Filters.ElementAt(3))
{
    <IsbnFilter />
}
else if (FilterChanged == Filters.ElementAt(4))
{
    <IssnFilter />
}
else if (FilterChanged == Filters.ElementAt(5))
{
    <NamePartFilter />
}*@
@* <div class="card-deck">
	<div class="card border-dark mb-3" style="max-width: 18rem;">
		<div class="card-header bg-transparent border-dark">Поиск статей</div>
		<div class="card-body text-dark">
			<h5 class="card-title">Поиск статей по фильтрам</h5>
			<p class="card-text">Страница для поиска статей по фильтрам</p>
		</div>
		<div class="card-footer bg-transparent border-dark">
			<a href="/Search" class="">Перейти</a>
		</div>
	</div>

	<div class="card border-dark mb-3" style="max-width: 18rem;">
		<div class="card-header bg-transparent border-dark">Импакт-фактор</div>
		<div class="card-body text-dark">
			<h5 class="card-title">Поиск импакт-фактора</h5>
			<p class="card-text">Страница для поиска импакт-фактора по ISSN</p>
		</div>
		<div class="card-footer bg-transparent border-dark">
			<a href="/ImpactFactorUpdate" class="">Перейти</a>
		</div>
	</div>

	<div class="card border-dark mb-3" style="max-width: 18rem;">
		<div class="card-header bg-transparent border-dark">Отчеты</div>
		<div class="card-body text-dark">
			<h5 class="card-title">Составление отчетов</h5>
			<p class="card-text">Страница для составления отчетов по выбранной форме</p>
		</div>
		<div class="card-footer bg-transparent border-dark">
			<a href="/Reports" class="">Перейти</a>
		</div>
	</div>
</div>
	@code
{
		public BasePpsContext db = new BasePpsContext();
		private List<string> Filters = new List<string> { "Автор", "Год", "DOI", "ISBN", "ISSN", "Название" };
		public string FilterChanged { get; set; }
	}
 *@

<div class="container-flex mb-3">
	<div class="row">
		<div class="col">
			<div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center rounded overflow-hidden">
				<div class="my-3 p-3">
					<h2 class="display-5">
						МГТУ Отчеты
					</h2>
					<p class="lead">
						Составляйте отчеты, ищите публикации или импакт-фактор
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-flex mb-3">
	<div class="row row-cols-1 row-cols-md-2 g-3">
		@if (componentsInfo?.Any() ?? false)
		{
			@foreach (ComponentInfoDto componentInfo in componentsInfo)
			{
				<div class="col">
					<div class="card bg-light border">
						<div class="card-body position-relative p-3">
							<i class="bi-@componentInfo.Icon fs-5 text-muted position-absolute top-0 end-0 me-3 mt-3"></i>
							<div class="row">
								<div class="col">
									<a href="/@componentInfo.PageURL" class="link-dark">
										<h5 class="card-title fw-bold">
											&laquo;@componentInfo.Title&raquo;
										</h5>
									</a>
								</div>
							</div>
							<div class="row">
								<div class="col text-start pe-0">
									<p class="card-text text-muted">
										@componentInfo.Description
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			}
		}
	</div>
</div>
@* <div class="container-flex">
	<footer class="text-center">
		<small class="text-center text-muted">
			КОНСОМ ГРУПП | ПСУ © 1995 - 2022
		</small>
	</footer>
</div> *@